@import "fonts.css";
body{
    background-color: #050638;
    color: azure;
}
header{
    text-align: center;
    background-color: #050638;
}
header .logoIndex{
    font-family: "titleFont";
}
header .subtitulo{
    font-family: "akiraFont";
}
header a:link{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: #8f0a27;
    text-decoration: none;
}
header .redes{
    font-family: "akiraFont";
    color: white;
}
.redes{
    padding: 28px 0 0 0;
}
nav{
    font-family: "LemonMilk-Medium";
    text-align: center;
    background-color: #8f0a27;
}
nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: #2427cf;
    text-decoration: none;
}
.bg{
    background-color: #000000;
    text-align: center;
    padding: 10px;
    height: 100vh;
    color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid  #8f0a27;
}
.home{
    background-image: url("../images/APLogo-20-20.png");
}
.title{
    font-family: "akiraFont";
    font-style: italic;
    margin: 50px 0;
}
.index-body{
    font-family: "KenyanKoffee-Regular";
    font-size: 20px;
}
.card{
    background-color: #0000008e;
    border: 2px solid  #8f0a27;
}
.card-header{
    font-family: "LemonMilk-Bold";
    text-align: center;
}
.bg-card-header{
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url("../images/banner.png");
}
.img-redonda{
    width: 150px;
    height: 150px;
    border:2px solid #8f0a27;
    margin-top: 25px;
    border-radius: 150px;
}
.card-body, .card-footer{
    font-family: "KenyanKoffee-Regular";
    font-size: 20px;
}
.card-footer{
    text-align: center;
}
.no-padding{
    padding: 0px 0px 0px 0px ;
}

ul.list-group li.list-group-item{
    background-color: #00000000;
    border-top: 2px solid #8f0a27;
    border-radius: 0%;
    font-family: "KenyanKoffee-Regular";
    color: white;
}
.modal-content{
    font-family: "KenyanKoffee-Regular";
    font-size: 28px;
    background-color: #050638;
    border: 2px solid  #8f0a27;
}
footer{
    font-family: "LemonMilk-Medium";
    background-color: #050638;
}
